body{
    background-color: rgb(197, 149, 73);
    color: rgb(255, 255, 255);
}
 div{
    text-align: center;
 }

h1{
    text-align: center;
}

img{
    height: auto;
    width: 600px;
}

button{
    color: rgb(197, 149, 73);
}